
<div class="container">
  <h2>Listing comments</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Author</th>
        <th>Comment</th>
        <th>Blog Post Title</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @comments.each do |comment| %>
        <tr>
          <td><%= comment.user.username %></td>
          <td><%= comment.comment_entry %></td>
          <td><%= comment.blog_post.title %></td>
           <!--<td><%= link_to 'Show', comment %></td>
          <td><%#= link_to 'Edit', edit_comment_path(comment) %></td>-->
          <td><%= link_to comment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" do %>
             <span class="glyphicon glyphicon-trash"></span> 
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<%#= link_to 'New Comment', new_comment_path %>
</div>
