<%= javascript_tag do %>    
  sites= <%=raw @latlongarray %>; 
<% end %>
<div class="container">
  <div id="map-all"></div>
  <% @blog_posts.each_slice(3) do |blog_post| %>
    <div class="row">
      <% blog_post.each do |blog_post| %>
        <div class="col-md-4">
          <%= link_to blog_post do %>
            <div class="well">
              <% if can? :update, blog_post %>
                <p class="pull-right">       
                  <%= link_to edit_blog_post_path(blog_post), class: "btn btn-default" do %>
                  <span class="glyphicon glyphicon-pencil"></span> 
                  <% end %> 
                  <%= link_to blog_post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" do %>
                  <span class="glyphicon glyphicon-trash"></span> 
                 <% end %>
               </p>
              <% end %>
              <h3><%= blog_post.address %></h3>
              <h2><%= blog_post.title %></h2>
              <!-- <h3>by <%#= blog_post.user.username %></h3> -->
              <p><%= blog_post.blog_entry[0..100].html_safe %>...</p>
              <h4><%= time_ago_in_words(blog_post.created_at) %> ago</h4> 
            </div>
          <% end %> <!-- end of giant link tag -->
        </div> <!-- end of column -->  
      <% end %>
    </div>  <!-- end of row -->
  <% end %>
</div>