<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h2>Howdy</h2>
      <p>Thanks for dropping by! Click on any of the pins below to start reading updates from the girls.</p>
      <div id="map-all"></div>
    </div>
    <div class="col-md-3">
      <h2>Latest Pics</h2>
      <p>Check out our Instagram pics.</p>
      <div class="row">
        <% @photo_hash.each do |photo, link| %>
          <div class="col-sm-4">
            <a href="<%= link %>" target="_blank"><img src ='<%= photo %>' class="img-responsive"></a><br/>
          </div>
        <% end %>
        <%#= @photo_hash %>
       </div>
    </div>
  </div>
</div>


<%= javascript_tag do %>    
  sites= <%= raw @latlongarray %>; 
<% end %>

<script>
function initialize() {
   
  var mapOptions = {
    zoom: 15,
    scrollwheel: false,   
    center: new google.maps.LatLng(42.35804, -71.057329)
  }

    var map = new google.maps.Map(document.getElementById('map-all'), mapOptions);
    var bounds = new google.maps.LatLngBounds();
    var infowindow = new google.maps.InfoWindow();
    
    for(var i in sites)
    {
      var p = sites[i];
      var latlng = new google.maps.LatLng(p[1], p[2]);
      
      bounds.extend(latlng);

      var image = '<%= asset_path "portlandia2.png" %>'
      var marker = new google.maps.Marker ({
        position: latlng,
        map: map,
        title: p[0],
        bp: p[3],
        photo: p[4],
        f_id: p[5],
        bp_title: p[6],
        icon: image,
        animation: google.maps.Animation.DROP
      });

      google.maps.event.addListener(marker, 'click', function() {
        infowindow.setContent('<div class="row" id="info-window">' + '<div class="col-xs-4">' + '<img src="' + this.photo + '", class="img-responsive">' + '</div>' + '<div class="col-xs-8">' +  '<h4>' + this.title + '</h4>' + '<h2>' + this.bp_title + '</h2>' + '<a href="blog_posts/' + this.f_id + '", class="btn btn-primary">Read Full Post</a>' + '</div>' + '</div>' );
        infowindow.open(map,this);
      });

      // '<div class="row" id="info-window">' + '<div class="col-xs-4">' + '<img src="' + this.photo + '", class="img-responsive">' + '</div>' + '<div class="col-xs-8">' + '<h4>' + this.title + '</h4>' + '<h2>' + this.bp_title + '</h2>' + '<p>' + this.bp + '</p>' + '<p><a href="/blog_posts/' + this.bp_id + ', class="btn btn-primary">' + "Read Full Post" + "</a></p>" + '<p></p>' + '</div>' + '</div>'
    
    map.fitBounds(bounds);

    var lineSymbol = {
      path: 'M 0,-1 0,1',
      scale: 4,
      strokeOpacity: 1,
      strokeColor: '#393'
    };

    var lineCoordinates = [];

    for(var x in sites)
    {
      n = sites[x];
      lineCoordinates.push(new google.maps.LatLng(n[1], n[2]));          
    }

    var linePath;
      createPolyline(map, lineCoordinates, lineSymbol);
    }

    function createPolyline(map,lineCoordinates,lineSymbol){
      linePath = new google.maps.Polyline({
        path: lineCoordinates,
        geodesic: true,
        strokeColor: '#006289',
        strokeOpacity: 1.0,
        strokeWeight: 2
       });
     linePath.setMap(map);
    } 
  } // end loop
  google.maps.event.addDomListener(window, 'load', initialize);

</script>